button {
  background: black;
  display: contents;
  &span {
    transition: all 0.3s ease-in-out;
  }
}

.dark-mood {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  color: gray;
}
