:root,
:host {
  --sys-background: #161217;
  --sys-on-background: #e9e0e7;
  --sys-surface: #161217;
  --sys-surface-dim: #161217;
  --sys-surface-bright: #3d383d;
  --sys-surface-container-lowest: #110d12;
  --sys-surface-container-low: #1e1a1f;
  --sys-surface-container: #221e24;
  --sys-surface-container-high: #2d282e;
  --sys-surface-container-highest: #383339;
  --sys-on-surface: #e9e0e7;
  --sys-surface-variant: #4c444d;
  --sys-on-surface-variant: #cec3cd;
  --sys-inverse-surface: #e9e0e7;
  --sys-inverse-on-surface: #342f34;
  --sys-outline: #988e97;
  --sys-outline-variant: #4c444d;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #e2b7f4;
  --sys-primary: #e2b7f4;
  --sys-on-primary: #432254;
  --sys-primary-container: #5b396c;
  --sys-on-primary-container: #f6d9ff;
  --sys-inverse-primary: #745086;
  --sys-secondary: #e2b7f5;
  --sys-on-secondary: #432255;
  --sys-secondary-container: #5b396d;
  --sys-on-secondary-container: #f5d9ff;
  --sys-tertiary: #ffb3b3;
  --sys-on-tertiary: #561d21;
  --sys-tertiary-container: #733336;
  --sys-on-tertiary-container: #ffdad9;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #7c757c;
  --sys-neutral-variant: #7d747d;
  --sys-primary-fixed: #f6d9ff;
  --sys-primary-fixed-dim: #e2b7f4;
  --sys-on-primary-fixed: #2c0b3e;
  --sys-on-primary-fixed-variant: #5b396c;
  --sys-secondary-fixed: #f5d9ff;
  --sys-secondary-fixed-dim: #e2b7f5;
  --sys-on-secondary-fixed: #2c0b3e;
  --sys-on-secondary-fixed-variant: #5b396d;
  --sys-tertiary-fixed: #ffdad9;
  --sys-tertiary-fixed-dim: #ffb3b3;
  --sys-on-tertiary-fixed: #3b080d;
  --sys-on-tertiary-fixed-variant: #733336;
  --sys-inverse-secondary: #745186;
  --sys-inverse-tertiary: #8f4a4c;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
