:root,
:host {
  --sys-background: #fff8f9;
  --sys-on-background: #211a1d;
  --sys-surface: #fff8f9;
  --sys-surface-dim: #e4d6dc;
  --sys-surface-bright: #fff8f9;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #fef0f5;
  --sys-surface-container: #f8eaf0;
  --sys-surface-container-high: #f3e5ea;
  --sys-surface-container-highest: #eddfe4;
  --sys-on-surface: #211a1d;
  --sys-surface-variant: #efdee6;
  --sys-on-surface-variant: #4f444a;
  --sys-inverse-surface: #362e32;
  --sys-inverse-on-surface: #fbedf2;
  --sys-outline: #81737a;
  --sys-outline-variant: #d3c2ca;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #844c73;
  --sys-primary: #844c73;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #ffd7ee;
  --sys-on-primary-container: #69345a;
  --sys-inverse-primary: #f7b1de;
  --sys-secondary: #844c72;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #ffd8ee;
  --sys-on-secondary-container: #69345a;
  --sys-tertiary: #8e4d30;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffdbce;
  --sys-on-tertiary-container: #71361b;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #7f7479;
  --sys-neutral-variant: #81737a;
  --sys-primary-fixed: #ffd7ee;
  --sys-primary-fixed-dim: #f7b1de;
  --sys-on-primary-fixed: #36072c;
  --sys-on-primary-fixed-variant: #69345a;
  --sys-secondary-fixed: #ffd8ee;
  --sys-secondary-fixed-dim: #f7b1de;
  --sys-on-secondary-fixed: #36072c;
  --sys-on-secondary-fixed-variant: #69345a;
  --sys-tertiary-fixed: #ffdbce;
  --sys-tertiary-fixed-dim: #ffb598;
  --sys-on-tertiary-fixed: #360f00;
  --sys-on-tertiary-fixed-variant: #71361b;
  --sys-inverse-secondary: #f7b1de;
  --sys-inverse-tertiary: #ffb598;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
