@use "@angular/material" as mat;

$light-theme: mat.define-theme(
  (
    color: (
      use-system-variables: true,

      // 👈 Added
    ),
    typography: (
      use-system-variables: true,
      // 👈 Added
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
  // @include layout-theme.theme($light-theme);
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($dark-theme);

:root {
  @include mat.all-component-themes($angular-material-theming-css-vars-theme);
  @include mat.system-level-colors(
    $angular-material-theming-css-vars-theme
  ); // 👈 Added
  @include mat.system-level-typography(
    $angular-material-theming-css-vars-theme
  ); // 👈 Added
}

body {
  background-color: #333;
}

@media (prefers-color-scheme: light) {
  :root {
    @include mat.all-component-colors($light-theme);
  }

  body {
    background-color: #f4f4f4;
  }
}
